.card_news_vertical {
  width: 100%;
  max-width: 94%;
  background-color: white;
  margin: 15px;
  transform: scale(1);
  transition: 0.3s;
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  padding: 20px;
  display: flex;
}

.card_news_vertical h1 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.card_news_vertical p {
  margin: 0;
  color: gray;
}

.card_imagen {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
  border: 3px solid white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
