.colaboradoras_content {
  width: 100%;
  max-width: 1300px;
  margin: 7rem auto;
  text-align: center;
}

.colaboradoras_content h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 70px;
}

.colaboradoras_content img {
  width: 90%;
  object-fit: cover;
  object-position: center center;
  margin: 20px;
}
