.container_ads {
  align-items: center;
  background: white;
  display: flex;
  justify-content: center;
  margin: 5rem auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 3));
  }
}

.slider {
  background: white;
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 1400px;
}

.slider::before {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 250px;
  position: absolute;
  width: 150px;
  z-index: 2;
}
.slider::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: "";
  height: 250px;
  position: absolute;
  width: 150px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide_track {
  animation: scroll 80s linear infinite;
  display: flex;
  width: calc(300px * 6);
}

.slide {
  width: 300px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-radius: 15px;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  padding-left: 15px;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  box-shadow: 0 2px 20px 0 rgb(0 0 0 / 10%);
  background-color: white;
  transform: scale(1);
  transition: 0.3s;
  margin: 10px;
}

.slide:hover {
  transform: scale(1.02);
}

.slide p {
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

.slide h3 {
  color: gainsboro;
  font-size: 11px;
  font-weight: 200;
  text-align: left;
  padding-bottom: 10px important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .slider::before {
    width: 40px;
  }
  .slider::after {
    width: 40px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .slider::before {
    width: 60px;
  }
  .slider::after {
    width: 60px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .slider::before {
    width: 80px;
  }
  .slider::after {
    width: 80px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .slider::before {
    width: 100px;
  }
  .slider::after {
    width: 100px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .slider::before {
    width: 150px;
  }
  .slider::after {
    width: 150px;
  }
}
