.card {
  width: 100%;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.card_imagen img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  object-position: center center;
  border-radius: 15px;
  transform: scale(1);
  transition: 0.3s;
}

.card_imagen img:hover {
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.08);
  transform: scale(1.02);
}

.card_info {
  margin-left: 15px;
}

.card_info h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card_info p {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.4;
  color: rgb(151, 150, 150);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}
