.interes_content {
  width: 100%;
  max-width: 1300px;
  margin: 7rem auto;
}

.interes_title {
  text-align: center;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.interes_title h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}

.interes_title p {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.2;
  color: gray;
}

.interes_card {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  gap: 3rem;
  max-width: 1000px;
  margin: 7rem auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .interes_card {
    grid-template-columns: 90%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .interes_card {
    grid-template-columns: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .interes_card {
    grid-template-columns: 90%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .interes_card {
    grid-template-columns: 50% 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .interes_card {
    grid-template-columns: 50% 50%;
  }
}
