.card_news_vertical {
  width: 100%;
  max-width: 94%;
  background-color: white;
  border-radius: 7px;
  margin: 15px;
  min-height: 55vh;
  transform: scale(1);
  transition: 0.3s;
}

.card_news_vertical_feed {
  width: 100%;
  max-width: 94%;
  background-color: "#f0f0f0";
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  margin: 15px;
  min-height: 55vh;
  transform: scale(1);
  transition: 0.3s;
}

.card_news_vertical_feed:hover {
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.08);
  transform: scale(1.02);
}

.card_news_vertical:hover {
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.08);
  transform: scale(1.02);
}

.card_news_vertical_img img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  object-fit: cover;
  object-position: center center;
  position: relative;
}

.card_news_vertical_feed_img img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  object-fit: cover;
  object-position: center center;
  position: relative;
}

.card_news_vertical_info {
  padding: 20px;
}

.card_news_vertical_info h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card_news_vertical_info p {
  font-size: 14px;
  font-weight: 200;
  line-height: 1.4;
  color: rgb(151, 150, 150);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.card_news_vertical_info span {
  font-size: 12px;
  font-weight: 200;
  line-height: 1.4;
  color: rgb(151, 150, 150);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: 1rem;
}
