.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 90vh;
}

.login_container_form {
  background-color: white;
  width: 100%;
  max-width: 350px;
  margin: 50px 10px;
  box-shadow: 0 0 10px #e2e2e2;
  padding: 20px;
  border-radius: 15px;
}
