.content_ventajas {
  width: 100%;
  max-width: 1300px;
  justify-content: center;
  align-items: center;
  margin: 7rem auto;
}

.content_ventajas h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  line-height: 1.3;
  padding: 15px;
}

.content_ventajas h4 {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  line-height: 1.3;
  color: gray;
  padding: 15px;
}

.items_content {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 2rem;
  margin: 4rem 0px;
}

.items {
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 25px;
  margin: 15px;
}

.items img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center center;
}

.items h2 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.3;
}

.items p {
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  line-height: 1.3;
  color: gray;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .items_content {
    grid-template-columns: 90%;
  }

  .items {
    text-align: center;
  }

  .items p {
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .items_content {
    grid-template-columns: 90%;
  }

  .items {
    text-align: center;
  }

  .items p {
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .items_content {
    grid-template-columns: 45% 45%;
  }

  .items {
    text-align: center;
  }

  .items p {
    text-align: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .items_content {
    grid-template-columns: 45% 45%;
  }

  .items {
    text-align: center;
  }

  .items p {
    text-align: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .items_content {
    grid-template-columns: repeat(4, 23%);
  }

  .items {
    text-align: left;
  }

  .items p {
    text-align: left;
  }
}
