.news_content {
  width: 100%;
  margin: 7rem auto;
  padding: 5rem 0rem;
  background-color: #f7f9fc;
}

.news_content_items {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 40% 55%;
}

.news_content_item_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.news_content_item_info h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}

.news_content_item_info p {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.2;
  color: gray;
  margin-bottom: 2rem;
}

.news_content_item_info a {
  border: none;
  background-color: #b37b02;
  padding: 7px 30px;
  border-radius: 100px;

  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  color: white !important;
  transform: scale(1);
  transition: 0.3s;
}

.news_content_item_info button:hover {
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.08);
  transform: scale(1.02);
}

.news_content_items_new {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .news_content_items {
    grid-template-columns: 100%;
  }

  .news_content_items_new {
    grid-template-columns: 100%;
  }

  .news_content_item_info {
    margin-left: 20px;
    margin-bottom: 30px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .news_content_items {
    grid-template-columns: 100%;
  }

  .news_content_items_new {
    grid-template-columns: 100%;
  }

  .news_content_item_info {
    margin-left: 20px;
    margin-bottom: 30px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .news_content_items {
    grid-template-columns: 100%;
  }

  .news_content_items_new {
    grid-template-columns: repeat(2, 47%);
  }

  .news_content_item_info {
    margin-left: 20px;
    margin-bottom: 30px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .news_content_items {
    grid-template-columns: 40% 55%;
  }

  .news_content_items_new {
    grid-template-columns: repeat(2, 50%);
  }

  .news_content_item_info {
    margin-left: 20px;
    margin-bottom: 30px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .news_content_items {
    grid-template-columns: 40% 55%;
  }

  .news_content_items_new {
    grid-template-columns: repeat(2, 50%);
  }

  .news_content_item_info {
    margin-left: 20px;
    margin-bottom: 30px;
  }
}
