.feed_container {
  height: auto;
  min-height: 90vh;
  width: 100%;
  max-width: 1300px;
  padding-top: 160px;
  margin: 0 auto;
}

.feed_container_baner {
  width: 100%;
  max-width: 900px;
  height: 150px;
  margin: 0 auto;
}

.feed_container_baner img {
  width: 90%;
  height: 150px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
  margin: 0 20px;
}

.feed_container_new {
  margin-top: 5rem;
}

.feed_container_new h1 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}

.feed_container_new_content {
  display: grid;
  grid-template-columns: repeat(3, 31%);
  width: 100%;
  max-width: 1300px;
  justify-content: center;
  align-items: center;
}

.feed_container_new button {
  border: none;
  background-color: #b37b02;
  padding: 7px 30px;
  border-radius: 100px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  color: white !important;
  transform: scale(1);
  transition: 0.3s;
}

.feed_container_new button:hover {
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.08);
  transform: scale(1.02);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .feed_container_new_content {
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .feed_container_new_content {
    grid-template-columns: 100%;
    justify-content: center;
  align-items: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .feed_container_new_content {
    grid-template-columns: 45% 45%;
    justify-content: center;
  align-items: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .feed_container_new_content {
    grid-template-columns: 45% 45%;
    justify-content: center;
  align-items: center;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .feed_container_new_content {
    grid-template-columns: repeat(3, 31%);
    justify-content: center;
  align-items: center;
  }
}
