.containers_hepls {
  width: 90%;
  min-height: 90vh;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 160px;
  margin-bottom: 3rem;
  text-align: justify;
}

.containers_team {
  width: 100%;
  padding-bottom: 100px;
}

.team_childrem {
  width: 100%;
  max-width: 1200px;
  padding-top: 100px;
  padding-bottom: 5rem;
  margin-left: auto;
  margin-right: auto;
  min-height: 50vh;
}

.team_childrem_item {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 2rem;
  text-align: center;
}

.team_childrem_item div img {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  text-align: center;
  object-fit: cover;
  object-position: center center;
}

.team_childrem_item div h1 {
  line-height: 1.5;
}

.team_childrem_item div p {
  text-align: center;
  line-height: 0;
}

@media (min-width: 400px) and (max-width: 991.98px) {
  .cookies {
    margin: 20px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .team_childrem_item {
    grid-template-columns: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .team_childrem_item {
    grid-template-columns: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .team_childrem_item {
    grid-template-columns: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .team_childrem_item {
    grid-template-columns: 33% 33% 33%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .team_childrem_item {
    grid-template-columns: 33% 33% 33%;
  }
}
