.topnav {
  flex: 1;
  min-width: 60px;
  margin-bottom: -50px;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  z-index: 0;
}

.visible_mobile {
  color: rgba(255, 255, 255, 0.5);
  height: 60px;
  width: 60px;
  margin: 0 auto;
}

.nav_items {
  display: block;
  height: 100vh;
  padding-top: 50px;
}

.simple {
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 24px;
  background-color: #212121;
  color: #9e9e9e;
  border: none;
}

.simple h3 {
  font-size: 14px;
  margin-top: 10px;
  color: #9e9e9e;
  white-space: initial;
}

.simple:hover {
  background: #292929;
  color: #b37b02 !important;
}

.active {
  width: 100%;
  height: auto;
  padding: 10px 0;
  margin-bottom: 20px;
  font-size: 24px;
  background-color: #fff;
  color: #b37b02;
  border: none;
}

.active h3 {
  font-size: 14px;
  margin-top: 10px;
  color: #b37b02;
  white-space: initial;
}

.active:hover {
  background: #f1f1f1;
}

/* segunda parte */

.main_wrapper {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 100%;
  position: relative;
  padding-top: 100px;
}

.page_content {
  flex: 10;
  min-width: 0;
  margin-top: 100px;
}

.toggle_nav {
  display: none;
}

@media (max-width: 640px) {
  .toggle_nav {
    width: 100%;
    text-align: center;
    line-height: 60px;
    color: #fff;
    display: block;
    font-size: 16px;
  }

  .topnav {
    padding: 0;
    position: fixed;
    top: 100px;
    left: 0;
    height: fit-content;
    z-index: 15;
    border-radius: 0 50% 50% 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
  }

  .topnav.visible_mobile {
    border-radius: 0;
    height: 100%;
  }

  .nav_items {
    display: none;
    padding-bottom: 50px;
    overflow-y: scroll;
  }

  .visible_mobile .nav_items {
    display: block;
  }

  .visible_mobile {
    width: 100%;
    flex: 0;
  }

  .visible_mobile .toggle_nav {
    text-align: left;
    padding-left: calc(5% + 8px);
  }

  .visible_mobile .ant_btn {
    flex-direction: row !important;
    justify-content: flex-start !important;
    padding: 5px 0 5px 5% !important;
  }

  .container {
    padding: 15px;
  }
}

@media (max-width: 1100px) {
  .active h3 {
    font-size: 12px;
    margin-top: 5px;
  }

  .active {
    font-size: 16px;
    padding: 5px 0 0 0;
  }

  .simple h3 {
    font-size: 12px;
    margin-top: 5px;
  }

  .simple {
    font-size: 16px;
    padding: 5px 0 0 0;
  }
}
