.My_datos {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.imagen img {
  width: 200px;
  height: 70px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}

.imagen_prod_add {
  width: 450px;
  height: 150px;
  object-fit: cover;
  object-position: center center;
  border-radius: 15px;
}
