.My_datos {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.My_datos_form {
  width: 100%;
  margin: 30px auto;
  max-width: 600px;
}
