.forgot_content {
  width: 100%;
  height: auto;
  padding-top: 5rem;
}
.body_cont {
  width: 100%;
  min-height: 50vh;
  margin: auto;

  justify-content: center;
  align-items: center;
  display: flex;
}

.body_box {
  width: 100%;
  height: 30vh;
  padding: 20px;
  max-width: 350px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.08);
  text-align: center;
}

.form_control {
  height: 50px !important;
}

.login_form {
  margin-top: 15px;
}
