.My_datos {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.header_avatar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header_avatar p {
  margin: 0;
  padding: 0;
}

.header_avatar img {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  object-fit: cover;
  object-position: center center;
}

.header {
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
