.feed_container {
  height: auto;
  min-height: 90vh;
  width: 100%;
  max-width: 1300px;
  padding-top: 160px;
  margin: 0 auto;
}

.feed_container_baner {
  width: 100%;
  max-width: 900px;
  height: 150px;
  margin: 0 auto;

}
.feed_container_header {
  padding: 20px;
}

.details {
  padding: 20px;
}

.details img {
  width: 100%;
  max-width: 400px;
}
