.footer_container {
  width: 100%;
  background-color: #212121;
  margin-top: 3rem;
  padding: 0;
  height: auto;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
}

.credit_footer {
  height: 50px;
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  border-top: 0.5px solid rgb(71, 71, 71);
  display: flex;
  margin-top: 2rem;
}

.footer_container_items {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  gap: 1rem;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  align-items: center;
  margin-top: 3rem;
}

.new_lester_content {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
}

.new_lester {
  background-color: #353535;
  padding: 15px;
  width: 100%;
  border-radius: 100px;
}

.new_lester_content p {
  margin-top: 20px;
  text-align: right;
}

.new_lester input {
  background-color: #535353;
  border: none;
  outline: none;
  font-size: 1rem;
  color: white;
  width: 65%;
  height: 40px;
  padding: 10px;
  border-radius: 100px;
  margin-right: 12px;
}

.new_lester input::placeholder {
  color: white;
  font-weight: 200;
}

.new_lester button {
  border: none;
  width: 30%;
  height: 40px;
  background-color: #b37b02;
  color: white;
  outline: none;
  font-size: 1rem;
  border-radius: 100px;
  cursor: pointer;
}

.footer_container_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer_container_items li {
  list-style: none;
  margin-top: 15px;
  padding: 0;
}

.footer_container_items a {
  color: white;
  font-size: 1rem;
  padding: 0;
}

.footer_container_items a:hover {
  color: #b37b02;
}

.footer_container_items h2 {
  color: #b37b02;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.footer_container p {
  color: white;
  font-size: 0.7rem;
  padding: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer_container_items {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
  }

  .new_lester {
    background-color: #353535;
    padding: 15px;
    width: 100%;
    border-radius: 100px;
  }

  .new_lester_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
  }

  .new_lester_content p {
    margin-top: 20px;
    text-align: center;
  }

  .credit_footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    height: 70px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer_container_items {
    display: grid;
    grid-template-columns: 100%;
    text-align: center;
  }

  .new_lester {
    background-color: #353535;
    padding: 15px;
    width: 100%;
    border-radius: 100px;
  }

  .new_lester_content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
  }

  .new_lester_content p {
    margin-top: 20px;
    text-align: center;
  }

  .credit_footer {
    margin-top: 20px;
    padding: 20px;
    text-align: center;
    height: 70px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer_container_items {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 20px;
    text-align: left;
  }

  .new_lester {
    background-color: #353535;
    padding: 15px;
    width: 100%;
    border-radius: 100px;
  }

  .new_lester_content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin: 20px;
  }

  .new_lester_content p {
    margin-top: 20px;
    text-align: left;
  }

  .credit_footer {
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    height: 70px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer_container_items {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    text-align: left;
    padding: 20px;
  }

  .new_lester {
    background-color: #353535;
    padding: 15px;
    width: 100%;
    border-radius: 100px;
  }

  .new_lester_content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin: 20px;
  }

  .new_lester_content p {
    margin-top: 20px;
    text-align: left;
  }

  .credit_footer {
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    height: 70px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .footer_container_items {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    text-align: left;
    padding: 0px;
  }

  .new_lester {
    background-color: #353535;
    padding: 15px;
    width: 100%;
    border-radius: 100px;
  }

  .new_lester_content {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin: 20px;
  }

  .new_lester_content p {
    margin-top: 20px;
    text-align: right;
  }

  .credit_footer {
    margin-top: 20px;
    padding: 20px;
    text-align: left;
    height: 70px;
  }
}
