.contact_container {
  height: auto;
  min-height: 90vh;
  width: 100%;
  max-width: 1300px;
  padding-top: 160px;
  margin: 0 auto;
}
.contact_container_form {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
}

.items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 50px 20px;
}


.contact_container_form h1 {
  font-weight: bold;
  margin: 20px;
  
}

.items p {
  margin: 0;
  padding: 0;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .contact_container_form {
    grid-template-columns: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .contact_container_form {
    grid-template-columns: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .contact_container_form {
    grid-template-columns: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .contact_container_form {
    grid-template-columns: 50% 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .contact_container_form {
    grid-template-columns: 50% 50%;
  }
}
