.LoadingCont {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (prefers-color-scheme: dark) {
  .loading {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  .loading {
    color: #607d8b;
  }
}
