.images {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
  border-radius: 20px;
}

.title {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  border: 0.5px solid rgb(236, 236, 236);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  padding: 15px;
}

.title h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.price h3 {
  font-size: 0.7rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: white;
}

.price {
  background: rgb(41, 216, 132);
  padding: 7px 30px;
  border-radius: 100px;
}

.description {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 7px;
  border: 0.5px solid rgb(236, 236, 236);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
  padding: 15px;
}

.description h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

.description p {
  font-size: 16px;
  font-weight: 300;
  color: #607d8b;
  margin: 0;
}
