.My_datos {
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
}

.My_datos_form {
  width: 100%;
  margin: 30px auto;
  max-width: 90%;
}

.marca {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.marca img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
  object-position: center center;
  border-radius: 7px;
  border: 3px solid white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header {
  margin: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
