.partOne_content {
  width: 100%;
  margin: 8rem auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.partOne_bg {
  background-image: url("../../../public/image/Subtract.png");
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  margin-left: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.partOne_bg_text {
  width: 50%;
}

.partOne_bg_text h2 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  line-height: 1.2;
}

.partOne_bg_text p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.partOne_bg_text button {
  background-color: white;
  border: none;
  border-radius: 100px;
  padding: 10px 40px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  transform: scale(1);
  transition: 0.3s;
}

.partOne_bg_text button:hover {
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.08);
  transform: scale(1.02);
}

.partOne_bg_imagen {
  width: 130%;
  height: 70vh;
}

.partOne_bg_imagen img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
  object-position: center center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .partOne_content {
    grid-template-columns: 100%;
  }

  .partOne_bg_text {
    width: 90%;
  }

  .partOne_bg_imagen {
     width: 100%;
    height: 30vh;
  }

  .partOne_bg_imagen img {
    height: 30vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .partOne_content {
    grid-template-columns: 50% 50%;
  }

  .partOne_bg_imagen {
    width: 130%;
    height: 70vh;
  }

  .partOne_bg_imagen img {
    height: 70vh;
  }

  .partOne_bg_text {
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .partOne_content {
    grid-template-columns: 50% 50%;
  }

  .partOne_bg_text {
    width: 90%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .partOne_bg_text {
    width: 50%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .partOne_bg_text {
    width: 50%;
  }
}
