._3drDv {
  font-family: "Poppins", sans-serif;
  display: flex;
  padding: 20px;
  margin: 0px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 100;
}
._3drDv a {
  text-decoration: none;
}

._36iSm img {
  width: 180px;
  object-fit: cover;
  object-position: center center;
  height: 65px;
  margin-left: -25px;
}

._29JqD a {
  margin-left: 20px;
  transition: 0.25s ease;
}
._29JqD a:hover {
  filter: brightness(0.5);
}
._3xYLB {
  display: none;
}

._3drDv button {
  border: none;
  background-color: #b37b02;
  padding: 7px 30px;
  border-radius: 100px;
  margin: 7px 10px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
  color: white !important;
}

._4sag1 {
  position: fixed;
  display: flex;
  height: 100vh;
  background-color: grey;
  top: 0;
  right: 0;
  flex-direction: column;
  overflow: hidden;
  transition: 0.5s;
  width: 0px;
  z-index: 999;
}

._4sag1 button {
  font-size: 25px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px;
  padding: 0;
  margin-left: auto;
  border: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  line-height: 1;
  cursor: pointer;
  background: none;
}

._4sag1 a {
  padding: 10px 20px;
}
._4sag1 a:hover {
  filter: brightness(0.8);
}

@media screen and (max-width: 767px) {
  ._2lGdA {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }
  ._3vScg {
    margin-left: 10px;
  }
  ._3Moxr {
    left: 0;
    right: inherit;
  }
  ._1tOke {
    margin-left: 20px !important;
  }
  ._29JqD {
    display: none;
  }
  ._3xYLB {
    display: block;
    width: 25px;
    height: 25px;
  }
}
