.about_container {
  height: auto;
  min-height: 90vh;
  width: 100%;
  max-width: 1300px;
  padding-top: 160px;
  margin: 0 auto;
}

.about_container_title {
  margin: 20px;
}

.about_container_title h1 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
}



.about_container_title p {
  text-align: center;
}

.items {
  margin: 20px;
}

.items h2 {
  font-size: 28px;
  font-weight: bold;
  text-align: left;
}

.items p {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: gray;
}

.teamContent {
  background-color: #b37b02;
  width: 100%;
  padding: 50px;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 20px;
}

.teamContent h1 {
  color: white;
  text-align: center;
  font-weight: 700;
  margin: 3rem 0;
}

.teamContent h3 {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: white;
}

.teamContent h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: white;
}

.teamContent p {
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: white;
}

.teamCard {
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 350px;
  height: 50vh;
  border-radius: 15px;
}

.teamCard img {
  width: 140px;
  height: 140px;
  border-radius: 100px;
  object-fit: cover;
  object-position: center center;
}

.teamContent_card {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  gap: 2rem;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.about_items {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 2rem;
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.about_items img {
  width: 100%;
  height: 400px;
  object-fit: contain;
  object-position: center center;
  border-radius: 20px;
}

.about_items h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: left;
}

.about_items p {
  font-size: 16px;
  font-weight: 300;
  text-align: left;
  color: gray;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .teamContent_card {
    grid-template-columns: 100%;
  }

  .about_items {
    grid-template-columns: 100%;
  }

  .about_items h2 {
    margin: 20px;
  }

  .about_items p {
    margin: 20px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .teamContent_card {
    grid-template-columns: 100%;
  }

  .about_items {
    grid-template-columns: 100%;
  }

  .about_items h2 {
    margin: 20px;
  }

  .about_items p {
    margin: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .teamContent_card {
    grid-template-columns: 50% 50%;
  }

  .about_items {
    grid-template-columns: 100%;
  }

  .about_items h2 {
    margin: 20px;
  }

  .about_items p {
    margin: 20px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .teamContent_card {
    grid-template-columns: 50% 50%;
  }

  .about_items {
    grid-template-columns: 50% 50%;
  }

  .about_items h2 {
    margin: 20px;
  }

  .about_items p {
    margin: 20px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .teamContent_card {
    grid-template-columns: repeat(3, 33%);
  }

  .about_items {
    grid-template-columns: 50% 50%;
  }

  .about_items h2 {
    margin: 20px;
  }

  .about_items p {
    margin: 20px;
  }
}
