/* The hero image */
.hero_container {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
    url("../../../public/image/top-banner.jpeg");

  /* Set a specific height */
  height: 40vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero_container_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 300;
  z-index: 0;
}

.hero_container_text h1 {
  color: white;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
}

.hero_container_text button {
  border: none;
  background-color: #b37b02;
  padding: 12px 30px;
  border-radius: 100px;
  margin: 10px;
  font-weight: 700;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

.hero_container_text a {
  border: none;
  background-color: #b37b02;
  padding: 12px 30px;
  border-radius: 100px;
  margin: 10px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hero_container {
    height: 80vh;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .hero_container {
    height: 80vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .hero_container {
    height: 60vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .hero_container {
    height: 50vh;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .hero_container {
    height: 50vh;
  }
}
